
@model loginmodel

<form action="" method="get">
	<label>Email</label>
	<input type="type"
		   name="email"
		   value="" />
		   <br/>
	<label>senha</label>
	<input type="password" name="senha" value="" />
		   <br/>
	<button type="submit"
		   class="btn btn-primary">

		logar
	</button>
</form>
